body {
    margin: 100px;
    display: flex;
    flex-direction: column;
    font-family: "MS Reference Sans Serif";
    width: 300px;
    height: 300px;
}

h2{
    font-weight: bolder;
    font-family: Calibri;
    font-size: 30px;
    color: darkgrey;
    display: flex;
    align-self: center;
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
}


span{
    color: red;
    font-size: xx-small;
}

input[type=text] {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
